@model SistemaDeEmprestimos.Models.Parcela

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcela</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprestimo.EmprestimoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParcelaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
